before_install:
- openssl aes-256-cbc -K $encrypted_2027fd11a059_key -iv $encrypted_2027fd11a059_iv -in aws-android-sdk-appsync/assets/appsync_test_credentials.json.enc -out aws-android-sdk-appsync-tests/src/main/assets/appsync_test_credentials.json -d
- ls -l aws-android-sdk-appsync-tests/src/main/assets/appsync_test_credentials.json
- wc aws-android-sdk-appsync-tests/src/main/assets/appsync_test_credentials.json
- chmod +x gradlew
- yes | sdkmanager "platforms;android-27"
- android list target
- echo no | android create avd --force -n test -t android-22 --abi armeabi-v7a
- emulator -avd test -no-skin -no-audio -no-window &
- android-wait-for-emulator
- adb shell input keyevent 82 &
language: android
android:
  components:
  - tools
  - platform-tools
  - tools
  - build-tools-28.0.2
  - android-28
  - android-22
  - sys-img-armeabi-v7a-android-22
script:
- android list target
- "./gradlew build connectedCheck --debug "
after_failure:
  - cat aws-android-sdk-appsync-tests/build/outputs/androidTest-results/connected/*.xml
